body { 
margin:0; 
padding:0; 
	margin:0; 
	padding:0; 
 }
#map { 
position: absolute;
width: 1000px; 
height: 500px; 
top:130px;  
position: absolute;
}
#RemoveAddress{ 
	position: absolute;
	margin-top:530px;
	margin-left:665px;
	padding: 24px 6px;
	background-color:red;
	border-radius: 16px;
	font-size: 20px;
	font-family: Arial Black;
	color:white;
	transition-duration: 0.4s;
	border: 3px solid firebrick;
}
 
#startend{
	margin-top:510px;
	}
#h1{
 	font-family: Arial;
	margin-left:700px;
	margin-left:537px;
	padding: 2px;
	background-color:green;
	color:	rgb(255, 255, 255);
	border-radius: 16px;
	height:50px;
	
}
#RemoveAddress:hover {
opacity: 0.6;}
#getbestroute{	
	position: absolute;
	margin-top:530px;
	margin-left:475px;
	padding: 24px 6px;
	background-color:green;
	border-radius: 16px;
	font-size: 20px;
	color:white;
	font-family: Arial Black;
	color:white;
	transition-duration: 0.4s;
	border: 3px solid darkgreen;
}
 #getbestroute:hover {
    opacity: 0.6;
 }
img{
	margin-top:-70px;
	margin-left:0px;
}
#getlocation{
	position: absolute;
	background-color:black;
	color:white;
	
	margin-top:530px;
	margin-left:10px;
	
	border-radius: 16px;
	padding: 24px 6px;
	font-size: 20px;
	font-family: Arial Black;
	color:white;
	transition-duration: 0.4s;
	border: 3px solid darkorange;
 }
 #getLocation:hover {
    opacity: 0.6;
 }
 #ShowMilwaukeeMap{
	position: absolute;
	margin-top:530px;
	font-size: 20px;
	margin-left:214px;
	padding: 24px 6px;
	background-color:blue;
	border-radius: 16px;
	font-family: Arial Black;
	color:white;
	transition-duration: 0.4s;
	border: 3px solid darkblue;
}
 #ShowMilwaukeeMap:hover {
    opacity: 0.6;
 }
#results{
	position:absolute;
	margin-left:1050px;
	margin-top: 65px;
	padding: 4px;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 20px;
	color: darkgreen;
}
#instructions{
	display:flex;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color:gray;
	border: 3px solid gray;
	padding: 4px;
	border-radius: 16px;
	margin-left:1050px;
margin-top:0px;}
#Flipinstructions{
	display:flex;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color:gray;
	border: 3px solid gray;
	padding: 4px;
	border-radius: 16px;
	margin-left:1050px;
	margin-top:-50px;
}
#startlocation{
	position:absolute;
	margin-left:1050px;
	margin-top:10px;
	font-family: Trebuchet MS;
}
#endlocation{
	position:absolute;
	margin-left:1050px;
	font-family: Trebuchet MS;
}
#bustable{
	margin-left:1050px;
	margin-top:60px;
	width:40%;
	
}
#route_number{
	margin-left:1050px;
	margin-top:60px;
	font-family: Trebuchet MS;
	font-size:20px;
	color:white;
	border-radius:16px;
	background-color:green;
	
}