body { 
margin:0; 
padding:0; 
}
#map { 
position: absolute;
margin-top:40px; 
width: 1000px; 
height: 500px; 
margin-top:80px;
top:45px;  }
#RemoveAddress{ 
position: absolute;
margin-top:500px;
margin-left:580px;

background-color:red;
border-radius: 5px;
font-size: 20px;
color:white;
}
#startend{
	margin-top:510px;
	
	
	
}
#h1{

	font-family: Arial;
	margin-left:700px;
	background-color:green;
	color:	rgb(255, 255, 255);
	height:50px;
	
}
#getbestroute{	
position: absolute;
margin-top:500px;
margin-left:180px;

	
	background-color:green;
	border-radius: 5px;
	font-size: 20px;
	color:white
}
img{
	margin-top:-70px;
	margin-left:0px;
}
#getlocation{
	position: absolute;
margin-top:500px;
margin-left:10px;
background-color:black;
border-radius: 5px;
font-size: 20px;
color:white;
	
}
#ShowMilwaukeeMap{
	position: absolute;
	margin-top:500px;
margin-left:350px;
background-color:blue;
border-radius: 5px;
font-size: 20px;
color:white;
}
#results{
	
	
}
#instructions{
	margin-left:1050px;
	margin-top:-70px;
	
	
	
}
